<!DOCTYPE html>
<html lang="fr">
<head>
<title>💖・Chi Support</title>
<h1> Documentation de💖・Chi  </h1>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href=".public/style.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="bg-image"
     style="background-image: url('');
            height: 100vh">
      <table class="table">
        <tr>
            <th>commande</th>
            <th>explication</th>        
        </tr>
        <tr>
            <td><b>kick</b></td>
            <td>Permet d'exclure des membres du serveur</td>        
        </tr>
        <tr>
            <td><b>ban</b></td>
            <td>Permet de bannir des gens qui insultent ou qui ne respectent pas les tos.</td>
        </tr>

        <tr>
            <td><b>lock</b></td>
            <td>Enlève à everyone la permission de parler dans le channel ou la commande est faite </td>
        </tr>

        </tr>
            <td><b>unlock</b></td>
            <td>Permet de redonner la permission de parler au rôle everyone</td>
        </tr>

        <tr>
            <td><b>clear</b></td>
            <td>Permet de supprimer les derniers messages de la discussion.</td>
        </tr>

        <tr>
            <td><b>ticket</b></td>
            <td>permet d'aider les gens qui ont des questions</td>
        </tr>

        <tr>
            <td><b>nuke</b></td>
            <td>reset un channel</td>
        </tr>

        <tr>
            <td><b>slap</b></td>
            <td>gifle une personne</td>
        </tr>

        <tr>
            <td><b>fight</b></td>
            <td>Commande fun pour combattre une personne</td>
        </tr>

        <tr>
            <td><b>kiss</b></td>
            <td>Commande fun pour embrasser une personne</td>
        </tr>

        <tr>
            <td><b>hug</b></td>
            <td>Commande fun pour faire un câlin à quelqu'un</td>
        </tr>

        <tr>
            <td><b>nsfw</b></td>
            <td>Commande fun pour que le bot envoie des images random nsfw</td>
        </tr>

        <tr>
            <td><b>avatar</b></td>
            <td>Permet de voir l'avatar de la personne mentionnée</td>
        </tr>

        <tr>
            <td><b>profil</b></td>
            <td>Permet de voir le profil de la personne mentionnée comme son avatar, son pseudo, son id ou encore la date de création de son compte.</td>
        </tr>

        <tr>
            <td><b>antilink</b></td>
            <td>Supprime les liens de pub de d'autres serveurs pour éviter les raids</td>
        </tr>

        <tr>
            <td><b>cat</b></td>
            <td>Poste des photos et gif de chat trop mignon !</td>
        </tr>

        <tr>
            <td><b>dog</b></td>
            <td>Poste des photos et gif de chiens trop mignon !</td>
        </tr>

        <tr>
            <td><b>snipe</b></td>
            <td>Poste des photos et gif de chiens trop mignon !</td>
        </tr>
      
    </table>
    <img src="https://cdn.discordapp.com/attachments/865683498308599808/868546171113717850/3d9e640238ec0dd452afad45f1cbc7a2.gif" />
    <a href="https://discord.com/api/oauth2/authorize?client_id=880812526340821022&permissions=8&scope=bot">Invitation du bot</a>
</div>
    
</body>
</html>
