<!DOCTYPE html>
<html lang="fr">
    <style>
        body {background-color: powderblue;}
        h1 {color: red;}
        p {color: blue;}
      </style>
<head>
<title>💖・Accueil Luna support</title>

<header>
    <h1>Page d'accueil 🌛・Luna Support</h1>
</header>
<nav>
    <h2>Créé un serveur fun et amusant avec 🌛・Luna </h2>
    
    <a class="btn btn-primary    " data-mdb-ripple-color="#ffffff" href="http://localhost:5000/help">Commandes</a>
    <a class="btn btn-primary    " data-mdb-ripple-color="#ffffff" href="https://discord.com/api/oauth2/authorize?client_id=880812526340821022&permissions=8&scope=bot">Invitation bot</a>
    <a class="btn btn-primary    " data-mdb-ripple-color="#ffffff" href="https://discord.gg/dADmhrUYXA">Discord support</a>
    
      
</nav>



<section>
    <img src="https://cdn.discordapp.com/attachments/880809764995596329/881881743177699378/R_4.gif" width="200" height="300">>
</section>
<footer>
    <img src="https://cdn.discordapp.com/attachments/880809764995596329/881881038534639687/7172045_e4615123.gif" width="300" height="400">>
</footer>



